
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    line-height: 1.5;
}

/*Yazi boyutlari*/
h1 {font-size: 1.5rem;}
h2 {font-size: 1.3rem;}
h3 {font-size: 1.1rem;}

/*Forms*/
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem #fff, 0 0 0 0.25rem #258cfb;
}



/*Mobil*/
.carousel-item {
    width: 100%;
    height: 200px;
}

    .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

/* Carousel butonlari*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    filter: invert(1);
    transition: all 0.3s ease;
}

/*Tablet */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .carousel-item {
        height: 350px;
    }
}

/*Desktop*/
@media (min-width: 992px) {
    h1 {
        font-size: 2rem;
    }

    .carousel-item {
        height: 500px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 48px;
        height: 48px;
    }
}

.list-row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #fff;
}

    .list-row:hover {
        background-color: #f8f9fa;
    }

.rowSelect.table-active {
    background-color: #cfe2ff;
    border-color: #0d6efd;
}

.list-row .label {
    font-weight: bold;
    margin-right: 5px;
}

/* Desktop / Tablet */
@media (min-width: 768px) {
    .list-row {
        flex-wrap: nowrap;
        padding: 8px 12px;
    }

        .list-row .label {
            display: none;
        }

    .list-header {
        display: flex;
        font-weight: bold;
        padding: 8px 12px;
        border-bottom: 2px solid #333;
    }
}


.editable-cell {
    min-height: 1.8em; /* imleç görünmesi için */
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
}

    .editable-cell:focus {
        outline: 2px solid #258cfb;
        background-color: #eef5ff;
    }

.rowSelect:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.rowSelect.table-active {
    background-color: #cce5ff;
}

.list-row {
    user-select: text; /* editable div’in seçilebilmesi için */
}
