@model WebCrudApp.Models.ItemPageViewModel

<h2>Malzeme işlemleri</h2>
<form method="post" id="itemForm" action="javascript:void(0)">
    <!-- GİZLİ ID -->
    <input type="hidden" name="logicalRef" id="logicalRef" />
    <div class="form-group">
        <label>CODE:</label>
        <input type="text" class="form-control" id="code" name="CODE" value="@ViewBag.Code" placeholder="000" />
        <small id="codeHelp" class="form-text text-muted">Code must be unique, please check the list.</small>
    </div>
    <div class="form-group">
        <label>NAME:</label>
        <input type="text" class="form-control" id="name" name="NAME" placeholder="Name of the Item" value="@ViewBag.Name" />
        <small id="nameHelp" class="form-text text-muted">Please enter the Name of Item.</small>
        <div class="form-group">
            @Html.DropDownListFor(
            m => m.Item.UNITSETREF,
                        Model.UnitSets,
                        "-- Seçiniz --",
                        new { id = "UNITSETREF", @class = "form-control" })
    </div>
    <br />
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Lütfen yapacağınız işlemi seçin:</strong>
    </div>
</form>

<button id="btnLoad" type="button" class="btn btn-primary">Listele</button>
<button id="btnCreate" type="button" class="btn btn-outline-success">Ekle</button>
<button id="btnSearch" type="button" class="btn btn-secondary">Bul</button>
<button id="btnUpdate" type="button" class="btn btn-outline-warning">Güncelle</button>
<button id="btnDelete" type="button" class="btn btn-outline-danger">Sil</button>
<hr />

<div style="max-height: 500px; overflow-y: auto; border: 1px">
    <table class="table table-hover" border="1" style=" border-collapse: collapse;">
        <thead>
            <tr>
                <th scope="col">LOGICALREF</th>
                <th scope="col">CODE</th>
                <th scope="col">NAME</th>

            </tr>
        </thead>
        <tbody id="itemBody">
        </tbody>


    </table>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
     $(document).ready(function () {
          $("#btnLoad").click();
          $("#itemForm").on("submit", function (e) {
            e.preventDefault();
        });


       });

           function bindRowSelect(){
         $("#itemTable tbody tr.rowSelect").off("click").on("click", function(){
             $("#itemTable tbody tr.rowSelect").removeClass("table-active");
             $(this).addClass("table-active");

             $("#logicalRef").val($(this).data("id"));
             $("#code").val($(this).data("code"));
             $("#name").val($(this).data("name"));
         });
     }

    //  🖱 Satır seçimi
     $(document).on("click", ".rowSelect", function(){
         $(".rowSelect").removeClass("table-active");
         $(this).addClass("table-active");

         $("#logicalRef").val($(this).data("id"));
         $("#code").val($(this).data("code"));
         $("#name").val($(this).data("name"));
     });

     //BULMA FONKSIYONU
         $("#btnSearch").click(function(){
         $.get("/Item/SearchPartial", {
             code: $("#code").val(),
             name: $("#name").val()
         }, function(html){
             $("#itemBody").parent().html(html); // table komple değişiyor
             bindRowSelect(); // satır seçimi için eventleri yeniden ata
         });
     });



         //LİSTELE BUTONU
         $("#btnLoad").click(function(){
         $.get("/Item/GetItemsPartial", function(html){
             $("#itemBody").parent().html(html); // tbody’nin parent’i table
             bindRowSelect();
         });
     });


         // ➕ CREATE
         $("#btnCreate").on("click", function (e) {
             e.preventDefault();

             $.ajax({
                 url: '/Item/Create',
                 type: 'POST',
                 data: {
                     CODE: $("#code").val(),
                     NAME: $("#name").val(),
                     UNITSETREF: $("#UNITSETREF").val()
                 },
                 success: function () {
                     alert("Eklendi");
                     $("#btnLoad").click(); // 🔥 otomatik yenile
                 },
                 error: function (err) {
                     console.log(err);
                     alert("Create hatası");
                 }
             });
         });




     //UPDATE
             $("#btnUpdate").click(function () {
        const id = $("#logicalRef").val();
        if (!id) {
            alert("Lütfen güncellenecek kaydı seçin");
            return;
        }

        $.post("/Item/Update", {
            LOGICALREF: id,
            CODE: $("#code").val(),
            NAME: $("#name").val()
        })
        .done(function () {
            alert("Güncellendi");
            $("#btnLoad").click();
        })
        .fail(function (xhr) {
            alert("Update başarısız: " + xhr.responseText);
        });
    });
         





     // ➡️ DELETE
            $(document).on("click", "#btnDelete", function () {

        const id = $("#logicalRef").val();
        if (!id) { alert("Lütfen silinecek kaydı seçin"); return; }
        if (!confirm("Bu kaydı silmek istediğinize emin misiniz?")) return;
        console.log("Giden ID:", id);

        $.post("/Item/Delete", { id: id })
            .done(function () {
                alert("Silindi");
                $("#btnLoad").click();
                $("#logicalRef").val('');
                $("#code").val('');
                $("#name").val('');
            })
            .fail(function () {
                alert("Silme başarısız");
            });
    });

        


</script>
